<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shadowed Love</title>
    
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <div class="flex-column justify-space-around">
        <header class="header">
                            <h1>Shadowed Love</h1>

            <nav>
            <button class="no-button" id="profile" hidden="hidden">Profile</button>

                {{#if logged_in}}
                <a href="/homepage"></a>
                <button class="no-button" id="logout">logout</button>
                {{/if}}

            </nav>
        </header>
        <main class="container">
            {{{ body }}}
        </main>
        <footer>

        </footer>
    </div>

    {{#if logged_in}}
    <script src="/js/homepage.js"></script>
    <script src="/js/profile.js"></script>
    <script src="/js/logout.js"></script>
    {{/if}}
</body>

</html>