<div class="row">
    <div class="col-auto"></div>
    <h2>Welcome, {{name}}</h2>
</div>

<div class="rowt mt-4">
    <div class="col-md-4">
        <h3>Online Now</h3>
    </div>
    <div class="col-md-4">
        <h3>Success Stories</h3>
        <p>
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
            laborum." -Real Person

        </p>

        <p>
            "Id eu nisl nunc mi ipsum faucibus vitae. Sed viverra ipsum nunc aliquet bibendum enim facilisis gravida
            neque. Elit sed vulputate mi sit amet mauris commodo quis imperdiet.Tempus imperdiet nulla malesuada
            pellentesque elit eget. Eros donec ac odio tempor orci. Donec ac odio tempor orci dapibus ultrices in. A
            diam sollicitudin tempor id
            eu.Nibh cras pulvinar mattis nunc sed blandit libero. Et netus et malesuada fames ac. Velit aliquet sagittis
            id consectetur purus ut faucibus. Ornare massa eget egestas purus viverra accumsan in nisl.
            Sed velit dignissim sodales ut eu sem integer vitae justo. Facilisi cras fermentum odio eu feugiat pretium
            nibh ipsum consequat.Ultrices tincidunt arcu non sodales neque sodales ut. Id semper risus in hendrerit
            gravida rutrum quisque
            non.Mauris pharetra et ultrices neque ornare aenean euismod elementum nisi." -Anotherreal Person
        </p>

        <p>
            "Pharetra vel turpis nunc eget lorem dolor sed viverra. Dolor purus non enim praesent elementum facilisis
            leo. Sagittis id consectetur purus ut faucibus. Et ligula ullamcorper malesuada proin libero nunc. Ultrices
            vitae auctor eu augue ut lectus.
            In iaculis nunc sed augue lacus viverra vitae congue. Ultrices sagittis orci a scelerisque purus semper.
            Vulputate dignissim suspendisse in est ante in nibh mauris cursus. Eget egestas purus viverra accumsan in
            nisl nisi scelerisque.
            Mattis ullamcorper velit sed ullamcorper. Morbi enim nunc faucibus a pellentesque sit amet porttitor eget."
            - Real Person
        </p>


    </div>
</div>
<div id="abc"></div>
<footer>
    <h4>Contact Us!</h4>
    <li>
        Email: graham@gmail.com
    </li>
    <li>
        Phone: (800) 123-4567
    </li>
</footer>
<script src="/js/homepage.js"></script>