<div class="chatbox">
    <div class="message-box">

    </div>
    <div class="text-area">
        <form class="text-box">
            <label for="textbox">Write message here</label>
            <input class="chat-box" type="text" id="chat-message" />
        </form>
        <button class="send-message">Send</button>
    </div>

</div>
<script src="/chat.js"></script>